body {
    margin-top: 5%;
    background-color: #2C519F;
}

.oculto{
    display:none;
}
.inicio{
    align-items: flex-start; 
    text-align: center;
    align-items: center;
}
.tituloJuego{
    font-family: "Lato", serif;
    font-size: 5rem;
    color: #F0E7A7;
    font-weight: bold;
}
.textoDescripcion{
    font-family: "Barlow", serif;
    color:#DFB504;
    font-size: 3rem;
}
.button_slide {
    font-size: 1.5rem;
  border: 2px solid rgb(216, 2, 134);
}
.button_slide:hover{
    background-color: black;
    color: white;
}
.textoMostrar{
    color: #FAF8E9;
    font-size: 3rem;
}
#cantidad{
    color: #AACA45;
    font-size: 10rem;
}
#ejemplos{
    color: white;
    font-size: 2.4rem;
}